:host {
  display: inline;
} 
button {
  cursor: pointer;
  border: 0;
  background: var(--color-primary); 
  color: var(--color-white);
  margin: 0;
  padding: var(--space-xs) var(--space-sm);
  font-family: inherit;
}